$toolbar-color: #F7F7F7;
$primary-background: white;
$selected-background: cornflowerblue;

// Buttons
$next-button-background: #239F85;
$previous-button-background: #239F85;
$add-button-background: #5AC8FA;
$button-text-color: white;

// Labels
$descriptor-color: silver;