// Normalize css so that these styles will work the same on all browsers
@import 'normalize';

// Required utility css
@import 'lib/variables';
@import 'lib/colors';
@import 'lib/mixins';

// Application spesific css
@import 'lib/app';
@import 'lib/layout';
@import 'lib/typography';
@import 'lib/pragma-tabsheet';
@import 'lib/group';
@import 'lib/input-group';
@import 'lib/input';
@import 'lib/select';
@import 'lib/textarea';
@import 'lib/master-detail';
@import 'lib/list';
@import 'lib/card';
@import 'lib/buttons';
@import 'lib/layout-table';
@import 'lib/switch';

.table-cell input[type="text"] {
  width: 100%;
}

.suppressed {
  font-size: $rem-3;
  opacity: $suppressed-opacity;
}

pre {
  outline-width: $group-border-width;
  outline-color: $focus-color;
}