node_modules
jspm_packages
gulp-tests
publish
styles
app
coverage
typings
.idea/build-utilities.iml
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
src/audit-html.js
service-worker.js
chromedriver.*
dist