.data-col1 {
}

.data-col2 {
  width: 9rem;
  text-align: center;
}

.data-col3 {
  width: 9rem;
  text-align: center;
}

.data-col4 {
  width: 9rem;
  text-align: center;
}

.data-col5 {
  width: 4rem;
  text-align: center;
}