<template bindable="model,actions">
    <require from="./tab-parameters.css"></require>
    <div class="flex-body">
        <div class="flex-body-main">
            <div class="parameters-heading">
                <button click.delegate="actions.addParameter()" title="add parameter">+</button>
                <label class="column1">Parameters</label>
                <label class="column2">Show On Report</label>    
            </div>
            <ol>
                <li repeat.for="parameter of model.parameters.items">
                    <input type="text" class="column1" value.bind="parameter.value" />
                    <input type="checkbox" class="column2" checked.bind="parameter.showOnReport" />
                </li>
            </ol>
        </div>

        <div class="bottom-toolbar">
            <button click.delegate="actions.gotoPreviousTab()" class="tab-nav-button previous-button">Prior</button>
            <button click.delegate="actions.gotoNextTab()" class="tab-nav-button next-button">Next</button>
        </div>
    </div>
</template>