<template bindable="model,actions">
    <require from="./tab-data.css"></require>

    <div class="group" id="toolbar">
        <div class="container default-padding-left default-padding-right">
            <h3 class="stretch">Raport Data</h3>
            <button click.delegate="actions.addDataOnKeyFields()" class="action">Add Fields</button>
        </div>

        <div id="rdt-composite" class="input-group">
            <div class="input">
                <input id="rdt" type="text" />
                <label for="rdt" class="label-width" value.bind="model.reportData.reportDataTitle" required="required">Report Data Title</label>
            </div>
            <div>
                <div class="suppressed label-width">(required)</div>
            </div>
        </div>
    </div>

    <div class="group" id="parameters">
        <div class="table">
            <div class="table-column data-col1"></div>
            <div class="table-column data-col2"></div>
            <div class="table-column data-col3"></div>
            <div class="table-column data-col4"></div>
            <div class="table-column data-col5"></div>

            <div class="table-header-group">
                <div class="table-cell">Onkey Field</div>
                <div class="table-cell data-col2">Group</div>
                <div class="table-cell data-col3">Show Total</div>
                <div class="table-cell data-col4">Show On Report</div>
                <div class="table-cell"></div>
            </div>

            <div class="table-row" repeat.for="parameter of model.reportData.onKeyFields.items">
                <div class="table-cell">
                    <input type="text" value.bind="parameter.fieldInOnKey" />
                </div>

                <div class="table-cell">
                    <div class="container stretch space-around">
                        <input type="checkbox" value.bind="parameter.group" class="switch"/>
                        <div class="suppressed">${parameter.group ? "Yes" : "No"}</div>
                    </div>
                </div>

                <div class="table-cell">
                    <div class="container stretch space-around">
                        <input type="checkbox" checked.bind="parameter.total" class="switch"/>
                        <div class="suppressed">${parameter.total ? "Yes" : "No"}</div>
                    </div>
                </div>

                <div class="table-cell">
                    <div class="container stretch space-around">
                        <input type="checkbox" checked.bind="parameter.showonreport" class="switch"/>
                        <div class="suppressed">${parameter.showonreport ? "Yes" : "No"}</div>
                    </div>
                </div>

                <div class="table-cell">
                    <button click.delegate="model.reportData.onKeyFields.remove(parameter)" title="remove parameter" class="icon-button">
                        <svg width="12px" height="14px" viewBox="3 2 12 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4.49999973,14.2499991 C4.49999973,15.0749993 5.17499976,15.7499991 5.99999964,15.7499991 L11.9999993,15.7499991 C12.8249995,15.7499991 13.4999992,15.0749993 13.4999992,14.2499991 L13.4999992,5.24999969 L4.49999973,5.24999969 L4.49999973,14.2499991 Z M14.2499991,2.99999982 L11.6249993,2.99999982 L10.8749993,2.24999987 L7.12499957,2.24999987 L6.37499962,2.99999982 L3.74999978,2.99999982 L3.74999978,4.49999973 L14.2499991,4.49999973 L14.2499991,2.99999982 Z" id="Fill-2" stroke="none" fill="#2E3944" fill-rule="evenodd"></path></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

</template>