<template bindable="model,actions">
    <div class="group" id="toolbar">
        <div class="container default-padding-left default-padding-right">
            <h3 class="stretch">Preview</h3>

            <button click.delegate="actions.refreshEmail()" class="secondary-action">Refresh</button>
            <button click.delegate="actions.sendEmail()" class="action">Send Email</button>
        </div>
    </div>

    <div class="group" id="peview">
        <pre class="flex-body-main" id="flex-body-main" contenteditable="true">
            ${model.email.body}
        </pre>
    </div>
</template>