<template bindable="model,actions">
    <div class="flex-body">
        <div class="flex-body-main">
            ${model.email.body}
        </div>

        <div class="bottom-toolbar">
            <button click.delegate="actions.gotoPreviousTab()" class="tab-nav-button previous-button">Prior</button>
            <button click.delegate="actions.refreshEmail()" class="tab-nav-button add-button">Refresh</button>
            <button click.delegate="actions.sendEmail()" class="tab-nav-button next-button">Send Email</button>
        </div>
    </div>
</template>