<template bindable="model,actions">
    <div class="group" id="projectInformation">
        <h3>Project Information</h3>

        <div id="pn-composite" class="input-group">
            <div class="input">
                <input id="pn" type="text" value.bind="model.project.projectNumber" required="true"/>
                <label for="pn" class="label-width">Project Number</label>
            </div>
            <div>
                <div class="suppressed label-width">(required)</div>
                <div id="pn-descriptor" class="suppressed"></div>
            </div>
        </div>

        <div id="-composite" class="input-group">
            <div class="input">
                <input id="" type="text" value.bind="model.project.client" required="true"/>
                <label for="" class="label-width">Client</label>
            </div>
            <div>
                <div class="suppressed label-width">(required)</div>
                <div id="-descriptor" class="suppressed"></div>
            </div>
        </div>
        
        <div id="req-composite" class="input-group">
            <div class="input">
                <input id="req" type="text" value.bind="model.project.requester" required="true"/>
                <label for="req" class="label-width">Requester</label>
            </div>
            <div>
                <div class="suppressed label-width">(required)</div>
                <div id="req-descriptor" class="suppressed"></div>
            </div>
        </div>
        
        <div id="rea-composite" class="input-group">
            <div class="input">
                <input id="rea" type="text" />
                <label for="rea" class="label-width" value.bind="model.project.requesteremailaddress">Requester Email Address</label>
            </div>
        </div>

        <div id="tor-composite" class="input-group">
            <div class="input">
                <select id="tor" value.bind="model.project.typeOfRequest">
                    <option repeat.for="typeOfRequest of model.project.options.tor" value.bind="typeOfRequest">${typeOfRequest}</option>
                </select>
                <label for="tor" class="label-width">Type of Request</label>
            </div>
        </div>

        <div id="cop-composite" class="input-group">
            <div class="input">
                <input id="cop" type="text" value.bind="model.project.onkeyconnectionpath"/>
                <label for="cop" class="label-width">Onkey Connection Path</label>
            </div>
        </div>
        
        <div id="unm-composite" class="input-group">
            <div class="input">
                <input id="unm" type="text" value.bind="model.project.onkeyusername"/>
                <label for="unm" class="label-width">Onkey Username</label>
            </div>
        </div>

        <div id="pwd-composite" class="input-group">
            <div class="input">
                <input id="pwd" type="text" />
                <label for="pwd" class="label-width" value.bind="model.project.onkeypassword">Onkey password</label>
            </div>
        </div>

        <div id="db-composite" class="input-group">
            <div class="input">
                <select id="db" value.bind="model.project.databaseLocation">
                    <option repeat.for="location of model.project.options.dbl" value.bind="location">${location}</option>
                </select>
                <label for="db" class="label-width">Database backup location</label>
            </div>
        </div>
    </div>

    <div class="group" id="reportInformation">
        <h3>Report Information</h3>

        <div id="tore-composite" class="input-group">
            <div class="input">
                <select id="tore" value.bind="model.report.typeReport">
                    <option repeat.for="typeOfReport of model.report.options.tor" value.bind="typeOfReport">${typeOfReport}</option>
                </select>
                <label for="tore" class="label-width">Type of Report</label>
            </div>
        </div>

        <div id="cur-composite" class="input-group">
            <div class="input">
                <select id="cur" value.bind="model.report.standardcustomreport">
                    <option repeat.for="standardcustomreport of model.report.options.scr" value.bind="standardcustomreport">${standardcustomreport}</option>
                </select>
                <label for="cur" class="label-width">Standard / Custom</label>
            </div>
        </div>

        <div id="usage-composite" class="input-group">
            <div class="input">
                <select id="usage" value.bind="model.report.usage">
                    <option repeat.for="usage of model.report.options.usage" value.bind="usage">${usage}</option>
                </select>
                <label for="usage" class="label-width">Usage</label>
            </div>
        </div>

        <div id="rep-composite" class="input-group">
            <div class="input">
                <textarea id="rep" value.bind="model.report.notificationManagerReport"></textarea>
                <label for="rep" class="label-width">Notification Manger Details</label>
            </div>
        </div>

        <div id="pgl-composite" class="input-group">
            <div class="input">
                <select id="pgl" value.bind="model.report.pageLayout">
                    <option repeat.for="pgl of model.report.options.pgl" value.bind="pgl">${pgl}</option>
                </select>
                <label for="pgl" class="label-width">Page Layout</label>
            </div>
        </div>

        <div id="rpt-composite" class="input-group">
            <div class="input">
                <input id="rpt" type="text" value.bind="model.report.reportTitle" required="true"/>
                <label for="rpt" class="label-width">Report Title</label>
            </div>
            <div>
                <div class="suppressed label-width">(required)</div>
                <div id="rpt-descriptor" class="suppressed"></div>
            </div>
        </div>

        <div id="por-composite" class="input-group">
            <div class="input">
                <textarea id="por" value.bind="model.report.purposeOfReport" class="memoformat" required="true"></textarea>
                <label for="por" class="label-width">Purpose of the report</label>
            </div>
            <div>
                <div class="suppressed label-width requiredLabel">(required)</div>
                <div id="por-descriptor" class="suppressed"></div>
            </div>
        </div>

        <div id="frm-composite" class="input-group">
            <div class="input">
                <textarea id="frm" value.bind="model.report.formattingRequirements" class="memoformat"></textarea>
                <label for="frm" class="label-width">Formatting</label>
            </div>
        </div>
    </div>
</template>