<template>
    <article>
        <section class="group">
            <h2>Help</h2>
            <p>
                Thank you for running the CIS Web Request application.
                The purpose of this page is to provide some common help and guidance.
            </p>
        </section>

        <section class="group">
            <h2>Using the application</h2>
            <p>
                To log a report requeset follow the tabs from left to right, starting at "Project" and ending at "Preview".
                All required information is marked in red. All the red fields on all the tabs must be filled in before a requeset can be sent.
                If a tab does not have a red field, it means that there are no required fields for that tab.
            </p>
            <p>
                Once you have filled in all the information and you are on the preview tab, click on the preview button at the top right.
                A report is generated and displayed in the preview pane. This pane is editable if you want to make any additional changes, comments or notes.
                To make changes you will need to focus the preview pane by clicking on it once. You will notice a light green border around the pane.
                When you see this, it means that you can edit any part of the report before sending it off.
            </p>
        </section>

        <section class="group">
            <h2>Sending email does not work</h2>
            <p>
                When using outlook you may experience the sending of email not working as expected.
                This is often due to windows configuration not being configured to use the mailto: api.

                Please follow <a target="_blank" href="http://www.guidingtech.com/19763/change-default-email-mailto-client-windows-8/">these instructions</a> or contact Pragma IT for support.
            </p>
        </section>

        <section class="group">
            <h2>Manually sending the report</h2>
            <p>
                You may desire to send the report manually.
                To do so you can copy the generated report and past it in a new email.

                The address that the mail must be sent to is:
                support@pragmaworld.net

                The subject required is:
                CIS Report Request
            </p>
        </section>

        <section class="group">
            <h2>Attachments</h2>
            <p>
                When the email client opens, before clicking the send button you have the opportunity to add any attachments you may need as part of your request.
            </p>
        </section>
    </article>
</template>