.parameters-heading {
    height: 2rem;
    display: flex;
    align-items: center;
}

.column1, .column2 {
    display: inline-block;
}

.column1 {
    width: 20rem;
}

.column2 {
    margin-left: 1rem;
}

li {
    margin-bottom: 0.5rem;
}