<template bindable="model,actions">
    <div class="group" id="chartProperties">
        <h3>Chart Properties</h3>
        
        <div id="ctitle-composite" class="input-group">
            <div class="input">
                <input id="ctitle" type="text" value.bind="model.chart.chartTitle"/>
                <label for="ctitle" class="label-width">Chart Title</label>
            </div>
            <div>
                <div class="suppressed label-width">(required)</div>
                <div id="ctitle-descriptor" class="suppressed"></div>
            </div>
        </div>

        <div id="cpur-composite" class="input-group">
            <div class="input">
                <input id="cpur" type="text" value.bind="model.chart.purposeOfChart"/>
                <label for="cpur" class="label-width">Purpose of Chart</label>
            </div>
        </div>

        <div id="ctype-composite" class="input-group">
            <div class="input">
                <select id="ctype" value.bind="model.chart.chartType">
                    <option repeat.for="chartType of model.chart.options.ctype" value.bind="chartType">${chartType}</option>
                </select>
                <label for="ctype" class="label-width">Chart Type</label>
            </div>
        </div>
    </div>

    <div class="group" id="dimension">
        <h3>Dimension</h3>
        
        <div id="cdo-composite" class="input-group">
            <div class="input">
                <input id="cdo" type="text" value.bind="model.chart.dimensionOnkeyFieldName"/>
                <label for="cdo" class="label-width">On Key Field Name</label>
            </div>
        </div>

        <div id="cdx-composite" class="input-group">
            <div class="input">
                <input id="cdx" type="checkbox" checked.bind="model.chart.dimensionyAxisLabels" class="switch" />
                <label for="cdx" class="label-width">Axis Labels</label>
                <div id="cdx-descriptor" class="suppressed">${model.chart.dimensionyAxisLabels ? "Yes" : "No"}</div>
            </div>
            <div>
                <div class="suppressed label-width">(required)</div>
            </div>
        </div>
    </div>

    <div class="group" id="measure">
        <h3>Measure</h3>

        <div id="cmo-composite" class="input-group">
            <div class="input">
                <input id="cmo" type="text" value.bind="model.chart.measureOnkeyField"/>
                <label for="cmo" class="label-width" >On Key Field</label>
            </div>
        </div>

        <div id="cmc-composite" class="input-group">
            <div class="input">
                <input id="cmc" type="text" value.bind="model.chart.measureCalculation"/>
                <label for="cmc" class="label-width">Calculation of measure</label>
            </div>
        </div>

        <div id="cmxl-composite" class="input-group">
            <div class="input">
                <input id="cmxl" type="checkbox" class="switch" checked.bind="model.chart.measureAxisLabels"/>
                <label for="cmxl" class="label-width">Axis Labels</label>
                <div id="cmxl-descriptor" class="suppressed">${model.chart.measureAxisLabels ? "Yes" : "No"}</div>
            </div>
            <div>
                <div class="suppressed label-width">(required)</div>
            </div>
        </div>

        <div id="cmxd-composite" class="input-group">
            <div class="input">
                <input id="cmxd" type="checkbox" class="switch" checked.bind="model.chart.measureAxisDataLabels"/>
                <label for="cmxd" class="label-width">Data Labels</label>
                <div id="cmxd-descriptor" class="suppressed">${model.chart.measureAxisDataLabels ? "Yes" : "No"}</div>
            </div>
            <div>
                <div class="suppressed label-width">(required)</div>
            </div>
        </div>

        <div id="srt-composite" class="input-group">
            <div class="input">
                <select id="srt" value.bind="model.chart.sortOrder">
                    <option repeat.for="sortOrder of model.chart.options.sort" value.bind="sortOrder">${sortOrder}</option>
                </select>
                <label for="srt" class="label-width">Sort Order</label>
            </div>
        </div>

        <div id="req-composite" class="input-group">
            <div class="input">
                <textarea id="req" value.bind="model.chart.additionalRequirements"></textarea>
                <label for="req" class="label-width">Additional Information</label>
            </div>
        </div>
    </div>
</template>



