<template>
    <require from="pragma-tabsheet/pragma-tabsheet"></require>
    <require from="./tab-project.html"></require>
    <require from="./tab-parameters.html"></require>
    <require from="./tab-charts.html"></require>
    <require from="./tab-data.html"></require>

    <pragma-tabsheet>
        <div id="tab-project" data-tab="Project">
            <tab-project></tab-project>
        </div>

        <div id="tab-parameters" data-tab="Parameters">
            <tab-parameters></tab-parameters>
        </div>

        <div id="tab-charts" data-tab="Charts">
            <tab-charts></tab-charts>
        </div>

        <div id="tab-data" data-tab="Report Data">
            <tab-data></tab-data>
        </div>
    </pragma-tabsheet>
</template>