<template>
    <require from="pragma-tabsheet/pragma-tabsheet"></require>
    <require from="./tab-project.html"></require>
    <require from="./tab-parameters.html"></require>
    <require from="./tab-charts.html"></require>
    <require from="./tab-data.html"></require>

    <div class="body">
        <pragma-tabsheet>
            <div id="tab-project" data-tab="Project">
                <tab-project class="tab-body"></tab-project>
            </div>

            <div id="tab-parameters" data-tab="Parameters">
                <tab-parameters class="tab-body"></tab-parameters>
            </div>

            <div id="tab-charts" data-tab="Charts">
                <tab-charts class="tab-body"></tab-charts>
            </div>

            <div id="tab-data" data-tab="Report Data">
                <tab-data class="tab-body"></tab-data>
            </div>
        </pragma-tabsheet>
    </div>

</template>